

 .container-datetime .form-item {
    display: inline-block;
    margin: 0 0 5px 0}
 .container-datetime .form-item label {
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    text-align: center !important}

 .container-datetime .cmp-day {width: 50px}
 .container-datetime .cmp-month {width: 100px}
 .container-datetime .cmp-year {width: 70px}
 .container-datetime .cmp-hour {width: 50px}
 .container-datetime .cmp-min {width: 50px}
 .container-datetime .cmp-sec {width: 50px}

 .container-datetime .cmp-date {width: 210px}
 .container-datetime .cmp-time {width: 140px}

 .container-datetime-textfield .cmp-day {width: 30px}
 .container-datetime-textfield .cmp-month {width: 80px}
 .container-datetime-textfield .cmp-year {width: 50px}
 .container-datetime-textfield .cmp-hour {width: 30px}
 .container-datetime-textfield .cmp-min {width: 30px}
 .container-datetime-textfield .cmp-sec {width: 30px}